.hidden{
    display: none;
}
body{
    min-height:100vh;
}
.bgImg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
#login-form{
    position: absolute;
    text-align:center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#login-form input:first-child{
    text-align:center;
    font-size:x-large;
    font-weight:bold;
    color:white;
    width: 300px;
    height: 50px;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom-style: dashed;
    border-color: bisque;
    background:transparent;
}
#login-form input:last-child{
    margin-left: 20px;
    text-align:center;
    width: 100px;
    font-size:large;
    font-weight:bold;
    height: 50px;
    border-radius:20px;
    color:dimgray;
    border-top: none;
    border-left: none;
    border-color:dimgray;
    background-color:bisque;
}
#login-form input:focus {outline: none;}
#login-form input::placeholder {
    color: rgb(255, 255, 255);
}
#clock{
    float:left;
    font-size:50px;
}
#quote{
    width: 1000px;
    background-image: linear-gradient(to right, blue, rgb(204, 0, 255));
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
    text-align:center;
    position: absolute;
    font-style:italic;
    text-align:center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#weather{
    float: right;
    text-align:center;
}