#todo {
  position: absolute;
  top: 8%;
  left: 0;
  margin: 0;
  background: url("../img/todoList.png") no-repeat;
  background-size: 100%;
  width: 40%;
  height: 0;
  min-width: 250px;
  min-height: 250px;
  padding-bottom: 40%;
  overflow: hidden;
}
#todo-form {
  margin: 0;
  height: 11vh;
}
#todo-form input {
  margin-top: 15%;
  margin-left: 15%;
  padding: 5%;
  border: none;
  background: url("../img/todoInput.png") no-repeat;
  min-width: 100px;
  min-height: 30px;
  width: 60%;
  font-family: "Dongle", sans-serif;
  font-size: 1.1rem;
  background-size: 100%;
  background-position: left;
}
#todo-form input:focus {
  outline: none;
}
#todo-form input ::placeholder {
  font-family: "Dongle", sans-serif;
}
#todo-list {
  position: absolute;
  top: 20%;
  padding-left: 23%;
  list-style: none;
  width: 55%;
  max-height: 20vh;
  min-height: 150px;
  overflow-y: scroll;
}
#todo-list::-webkit-scrollbar {
  display: none;
}
#todo-list li {
  width: 85%;
  height: 22px;
  margin-bottom: 5px;
}
#todo-list li span {
  font-family: "Dongle", sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
  white-space: normal;
  line-height: 0.8;
}
#todo-list li button {
  position: absolute;
  right: 0;
  border: none;
  cursor: pointer;
  width: 1em;
  height: 1em;
  background: url("../img/xmark-solid.svg") no-repeat;
  background-size: 90%;
}
